body{
    width: 360px;
    margin: 0 auto;
}
.header{
    font-family: 'Luckiest Guy', cursive;
    background-color: #A80000;
}
.header div{
    color: white;
    font-size: 22pt;
    display: flex;
    justify-content: space-evenly;
}
.center-text{
    font-family: 'Lily Script One', cursive;
    color: rgba(0, 0, 0, 0.5);
    color-interpolation-filters: linearRGB;
    text-align: center;
    font-size: 19pt;
    padding: 230px 0;
}
.circle-button-task{
    display: flex;
    justify-content: flex-end;
}
.add-tasks-button{
    font-family: 'Lily Script One', cursive;
    background-color: rgba(168, 0, 0, 0.747);
    border-radius: 50%;
    color: white;
    margin: 0;
}
.sign-up-button{
    padding: 12px 115px;
    margin-bottom: 10px;
}
footer{
    background-color: #A80000;
    color: white;
    font-size: 8pt;
    padding: 12pt;
    text-align: center;
}